
node_modules
.env
*.local

# build folders
dist
dist-ssr

# project files
README.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?