* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* 
    Color palette
    1. #388E3C green 700 for hovering
    2. #E8F5E9 light green for bg all application
    3. #1E88E5 navy blue for buttons , icons , inputs , profiles
    1. #57c45c green 600 for dashes
*/

.admin-dashboard {
    display: flex;
    width: 100%;
}

.admin-dashboardone {
    width: 20vw;
    height: 100vh;
    color: whitesmoke;
    background-color: #519554;
    /* flex: 1; */
    position: fixed;
    box-sizing: border-box;
}

.class-name {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
    margin: 30px 20px;
    border-bottom: 2px solid whitesmoke;
}

.admin-dashboardone img {
    padding: 10px 20px;
}

.new-img-logo {
    margin: 0px 20px;
    width: 40px;
    height: 40px;
    /* background-image: url(/black-logo.png); */
}

.dash2-bar {
    width: calc(80vw - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dash2-bar div a {
    text-decoration: none;
    color: rgb(41, 45, 41);
    margin-right: 10px;
}

.btn-atm {
    color: aliceblue;
    background-color: #47804a;
    padding: 10px;
    color: #E8F5E9;
    border-radius: 5px;
    cursor: pointer;
}

.admin-dashboard2 {
    background-color: #E8F5E9;
    height: 100vh;
    padding: 0;
    margin-left: 20vw;
}

.admin-dashboard2 h6 {
    padding: 10px 20px;
    color: grey;
    font-size: 12px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.Active {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: calc((70vw - 160px) / 4);
    margin: 20px;
}

.Active a {
    text-decoration: none;
    color: grey;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.Active a i {
    color: grey;
    font-size: 10px;
}

.Active:hover .f {
    transform: translateX(5px);
    transition: ease-in-out 0.3s;
}

.Active i {
    color: #337836;
    padding: 0 10px 0 0;
    font-size: 20px;
}

.Active h4 {
    padding-bottom: 10px;
}

.Active h3 {
    font-size: xx-large;
}

.Active h5 {
    color: grey;
}

.appoint i {
    color: navy;
}

.pending i {
    color: orange;
}

.alert i {
    color: red;
}

/* patient dashboard */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #47804a;
}

.logo img {
    width: 50px;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
    font-size: 16px;
}

.correction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.patient-dash {
    background-image: url(/patientcare.webp);
    width: 100%;
    background-size: contain;
    background-position: center;
}

.patient-apt {
    margin: 20px 40px;
    border: 1px solid gray;
    border-radius: 8px;
    width: calc(70vw - 80px);
    background-color: rgba(237, 235, 235, 0.9);
    height: fit-content;
}

.patient-apt h3 {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.patient-apt h3 i {
    color: navy;
    padding: 0 10px;
}

.patient-apt h5 {
    color: gray;
    font-size: 12px;
}

.patient-apt a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #47804a;
    margin-bottom: 20px;
    width: fit-content;
    display: flex;
    padding-top: 30px;

}

.milkyway {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.patient-apt h5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient-profile {
    margin: 20px 40px;
    border: 1px solid gray;
    border-radius: 8px;
    width: calc(30vw - 80px);
    height: fit-content;
    background-color: rgba(237, 235, 235, 0.9);
    padding-bottom: 10px;
}

.patient-profile h4 {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.patient-profile h4 i {
    color: navy;
    padding: 0 10px;
}

.patient-care-image {
    width: 100%;
}

.detail-p div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
}

.detail-p h5 {
    color: gray;
}

.edit-p-info a {
    text-decoration: none;
    color: black;
}

.img-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    background-color: gainsboro;
    border-radius: 8px 8px 0 0;
}

.img-frame i {
    color: navy;
}

.img-frame img {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.khoon {
    color: red;
}

.tali {
    color: green;
}

.loc {
    color: #0f2f11;
}

.navy {
    color: navy;
}

.jogi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jogi h3 {
    padding-left: 20px;
    font-size: 20px;
    color: aliceblue;
}

.edit-p-info a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 0;
    border-radius: 8px;
    background-color: #47804a;
}

.edit-p-info i {
    color: rgb(233, 233, 236);
    font-size: 16px;
    padding: 0 10px;
}

.edit-p-info h5 {
    font-size: 14px;
    color: gainsboro;
}

.myreports {
    margin: 20px 40px;
    border: 1px solid gray;
    border-radius: 8px;
    height: fit-content;
    background-color: rgba(237, 235, 235, 0.9);
    width: calc(30vw - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myreports a {
    text-decoration: none;
    color: black;
    width: fit-content;
    display: flex;
    width: calc(30vw - 80px);
    padding: 20px 0;
    font-size: 14px;
}

.myreports a:hover {
    background-color: rgb(204, 202, 202);
    border-radius: 7px;
}

.myreports a i {
    font-size: 14px;
    padding: 0 10px;
    color: #47804a;
}

/* doctor portal */
.login-doctor {
    background-color: #E8F5E9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.dr-login-design,
.dr-reg-design {
    background-color: gainsboro;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dr-login-design h3,
.dr-reg-design h3 {
    font-size: 20px;
    margin: 10px 15px;
}

.dr-login-design form,
.dr-reg-design form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dr-login-design form div,
.dr-reg-design form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    background-color: white;
}

.dr-login-design form input,
.dr-reg-design form input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.dr-login-design form button,
.dr-reg-design form button {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #1E88E5;
    color: whitesmoke;
}

.dr-login-design form button:hover,
.dr-reg-design form button:hover {
    background-color: #388E3C;
    color: whitesmoke;
}

.dr-login-design form p {
    font-size: 14px;
    color: gray;
}

/* dr registration */
.registration-dr {
    background-color: #E8F5E9;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dr-profile */
.dr-chalo {
    width: 100vw;
    background-color: gainsboro;
}

.dr-chalo img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.dr-baki {
    background-color: #E8F5E9;
}

.Dropdown-effect {
    background-color: #E8F5E9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.Dropdown-effect button {
    background-color: #E8F5E9;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 10px;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px 0 rgba(154, 153, 153, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Dropdown-effect button:hover {
    background-color: #4ea2ec;
    color: whitesmoke;
}

.dropdown-listed-items {
    list-style: none;
    /* padding: 10px; */
    margin: 10px;
    position: absolute;
    background-color: #E8F5E9;
}

.dropdown-listed-items li {
    padding: 7px;
    border-top: 1px solid gray;
}

.dropdown-listed-items li:hover {
    background-color: #4ea2ec;
    color: whitesmoke;
}

.dropdown-listed-items li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.parchar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}

.map-edits {
    width: 600px;
    height: 450px;

}

.back-home {
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(142, 140, 140, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
}

.g2-fclass {
    background-image: url(/patientcare.webp);
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.g2-fclass h3 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.gray-chart {
    width: 100%;
    margin-top: 20px;
}

.gray-chart h3 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: #337836;
    border-radius: 10px;
    text-align: center;
}

.gray-chart-patients {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gray-chart-patients h5 {
    text-align: center;
}

.gray-chart-patients table {
    margin: 30px auto;
    width: 50%;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(142, 140, 140, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
    overflow: hidden;
}

.gray-chart-patients table td {
    padding: 14px 20px;
    color: black;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}

.gray-chart-patients table tr:nth-child(even) {
    background-color: rgb(195, 195, 195);
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-dr {
    width: 170px;
    height: 170px;
    background-color: gainsboro;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(142, 140, 140, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.box-dr h4 {
    font-size: 18px;
    color: #337836;
}

.box-dr h5 {
    font-size: 16px;
    color: black;
    padding: 5px;
}

.title {
    text-align: center;
    font-size: 22px;
    color: #337836;
}

.department h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.paragraph img {
    width: 300px;
    margin: 10px;
    border-radius: 4px;
}

.paragraph article {
    margin: 10px;
    width: calc(100% - 400px);
}

.paragraph article h4 {
    color: #337836;
    font-size: 18px;
    padding: 10px 0px;
}

.paragraph article p {
    color: gray;
    font-size: 14px;
    font-weight: 400;
}

.infra-hosp {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.infra-hosp img {
    width: 300px;
    border-radius: 5px;
    margin: 10px;
}

.infra-hosp p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    margin-top: 20px;
    color: gray;
    width: calc(100% - 340px);
}

.footer-bg {
    background-color: rgb(240, 238, 238);
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(142, 140, 140, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 30px;
}

.footer h4 {
    font-size: 18px;
    color: #1f5722;
    padding: 10px;
}

.footer li {
    list-style: none;
    margin: 5px 0px;
}

.footer li a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-size: 14px;
    padding: 10px;
}

.timing {
    margin: 30px;
}

.timing h4 {
    font-size: 18px;
    color: rgb(19, 49, 20);
    padding: 10px;
}

.timing p {
    font-size: 14px;
    color: gray;
    padding: 0px 10px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: gray;
    padding: 10px;
    margin-top: 30px;
}

.BacktoTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #337836;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: whitesmoke;
}

/* logo page edit  */
.line1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
}

.line1 li {
    list-style: none;
}

.line1 li a {
    text-decoration: none;
    color: black;
}

.line2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #E8F5E9;
}

.line2 img {
    width: 50px;
}

.fa-bars,
.fa-xmark {
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}

.bar-list {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 185px;
    width: 100%;
}

.bar-list ul {
    background-color: #E8F5E9;
    padding: 10px;
    list-style: none;
}

.bar-list ul li {
    margin: 10px 0px;
}

.bar-list ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width : 786px) {
    .para-rev {
        display: flex;
        flex-direction: column-reverse;
    }

    .paragraph article {
        width: calc(100% - 20px);
        display: block;
        word-break: normal;
        max-width: 100%;
    }

    .infra-hosp p {
        width: calc(100% - 20px);
        display: block;
        word-break: normal;
        max-width: 100%
    }

    .dp-ft-responsive {
        display: none;
    }

    .bar-list {
        width: 100%;
        height: 100vh;
        top: 0;
    }

    .bar-list ul {
        height: 100vh;
        padding-top: 40px;
    }

    .dk-side {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.admin-dashboardone ul {
    padding: 30px 10px;
}

.admin-dashboardone ul a {
    text-decoration: none;
    color: white;

}

.admin-dashboardone ul li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid black;
}

.admin-dashboardone ul li:hover {
    background-color: gainsboro;
    color: black;
}

.hashtag a li {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #E8F5E9;
    color: black;
}

.staff-mang {
    background-color: #E8F5E9;
    width: calc(80vw - 16px);
    height: 100%;
    margin-left: 20vw;
}

.edit-staff {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-staff h3,
.staff-record h3 {
    font-size: 16px;
    font-weight: 600;
    color: #1E88E5;
    border-bottom: 2px solid #1E88E5;
}

.edit-staff h4 {
    font-size: 14px;
    font-weight: 500;
}

.edit-staff h5 {
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 400;
}

.daba form {
    padding: 10px;
}

.daba form input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.daba form button {
    padding: 10px;
    margin: 10px;
    width: 220px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #337836;
    color: whitesmoke;
    cursor: pointer;
}

.flex {
    display: flex;
}

.staff-record {
    background-color: gainsboro;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.staff-record table {
    width: 100%;
    border-collapse: collapse;
}

.staff-record table tr th {
    padding: 5px 15px;
}

.staff-record table tr td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px 15px;
}

.staff-record table tr td button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(156, 9, 9);
    color: whitesmoke;
    cursor: pointer;
}

.staff-record table tr td button:hover {
    background-color: rgb(188, 10, 10);
    color: whitesmoke;
}

.staff-record table tbody tr:nth-child(even) {
    background-color: rgb(197, 195, 195);
}

.text-center {
    padding: 20px 0px;
    color: #1E88E5;
}

.disease {
    margin-left: 20vw;
    background-color: #E8F5E9;
    width: 80vw;
    height: 100%;
}

.flex {
    display: flex;
    padding: 0;
    margin: 0;
}

.in-patient {
    margin: 20px;
}

.in-patient table {
    margin: 30px auto;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(142, 140, 140, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
    overflow: hidden;
}

.in-patient table td {
    padding: 14px 20px;
    color: black;
    border-bottom: 1px solid black;
}

.in-patient table tr:nth-child(even) {
    background-color: rgb(195, 195, 195);
}

.input-patient-surva {
    margin: 20px;
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(174, 173, 173, 0.2), 0 6px 20px 0 rgba(156, 155, 155, 0.19);
    padding: 20px;
    width: calc(100% - 60px);
}

.input-patient-surva form input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-patient-surva form button {
    padding: 10px;
    margin: 10px;
    width: 220px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #337836;
    color: whitesmoke;
    cursor: pointer;
}

.date {
    padding-left: 30px;
    padding-top: 20px;
}